extends layout.pug 

block content 

    fieldset 
      form(method='post' action='/users/editProfile')
        div 
            label User Name 
        div 
            input(type='text' name='username' placeholder= user.username value= user.username)
        div 
            label Old Password
        div 
            input(type='password' name='password' )
        div 
            label New Password
        div 
            input(type='password' name='newPassword')
        div 
            button(type='submit') Update 
            input(type='hidden' name='_csrf' value=csrfToken)
      form(action='/users/userProfile')
        button(type='submit') Cancel