extends layout.pug 

block content 

    fieldset 
      form(method='post' action='/users/editUserName')
        
        div 
            label Enter New User Name 
        div 
            input(type='text' name='username' placeholder= user.username value= user.username)
        div 
            button(type='submit') Update 
            input(type='hidden' name='_csrf' value=csrfToken)
      form(action='/users/userProfile')
        button(type='submit') Cancel