extends layout.pug 

block content 
    include utils.pug
    fieldset 
      form(method='post' action='/users/editPassword')    
        div 
            label Current Password
        div 
            input(type='password' name='password' )
        div 
            label New Password
        div 
            input(type='password' name='newPassword')
        div 
            label Confirm Password
        div 
            input(type='password' name='confirmPassword')
        div 
            button(type='submit') Update 
            input(type='hidden' name='_csrf' value=csrfToken)
      form(action='/users/userProfile')
        button(type='submit') Cancel