head
    block head
      title="MyQuery"
      link(rel='stylesheet' href='/stylesheets/reset.css')
body
  div(class='headerOne')
    div(class='titleContainer')
      h2(class='title')= title
    div(class='openingLogOut')
      form(method='post' action='/users/logout')
        button(type='submit') Log Out  
  block content
