head
    block head
    
      title="QHistory"
      link(rel='stylesheet' href='/stylesheets/reset.css')
    
body
  div(class='headerOne')
    div(class='titleContainer')
      a(href='/' class='title')
        h2(class='title') QHistory
    div(class='openingLogOut')
      div(class='searchKeyword')
        form(method='post' action='/search/keyword')
          div(class="searchDiv")
            input(type='text' name='searchBar' placeholder='Search QHistory...')
            button(type='submit' class='searchSubmit')
            input(type='hidden' name='_csrf' value=csrfToken)
      if user && user.id
        div(class='viewProfile')
          form(action='/users/userProfile')
            button(type='submit' ) View Profile
        form(method='post' action='/users/logout')
          button(type='submit') Log Out
      else
        div(class='opening')
          a(href='/users/register')
            button(type="button") Register
        div(class='opening')
          a(href='/users/login')
            button(type="button") Login
  block content


  block footer
    div(class='footer') Copyright (c)
      link(rel='stylesheet' href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
      span(class='about-links') Connor Henderson
        img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/78612354?v=4")
        a(class="fab fa-github" href="https://github.com/cch41")
        a(class="fab fa-linkedin" href="https://www.linkedin.com/in/connor-henderson-833504123/")
      span(class='about-links') Jia Li
        img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/77854091?v=4")
        a(class="fab fa-github" href="https://github.com/jjiiaaLi ")
        a(class="fab fa-linkedin" href="https://www.linkedin.com/in/jia-li-2829b140/")
      span(class='about-links') John Sims
        img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/74082034?v=4")
        a(class="fab fa-github" href="https://github.com/simzeee")
        a(class="fab fa-linkedin" href="https://www.linkedin.com/in/jwsims/")
      span(class='about-links') Nick Kury
        img(class="user-object--avi" src="https://avatars.githubusercontent.com/u/75050631?v=4")
        a(class="fab fa-github" href="https://github.com/NickKury")
        a(class="fab fa-linkedin" href="https://www.linkedin.com/in/nick-kury-011840213/")
