head
    block head
      title="QHistory"
      link(rel='stylesheet' href='/stylesheets/reset.css')
body
  div(class='headerOne')
    div(class='titleContainer')
      a(href='/')
        h2(class='title') QHistory
    div(class='openingLogOut')
     if user
      div(class='viewProfile')
        form(action='/users/userProfile')
          button(type='submit' ) View Profile
      form(method='post' action='/users/logout')
        button(type='submit') Log Out
  block content
