extends layout.pug
block content
    fieldset
        form(method='post' action='/questions')
            div
                label(for='content')
                textarea(name='content', cols='100', rows='10' type='text' required)
            div
                label(for='tags') Select tag(s)
                select(name='presetTags')
                    each tag in tags
                        option(value= tag.id )= tag.name
            //- div
            //-     label(for="") Custom tag
            //-     input(type="text" name='custom-tag')
            div
                button(type='submit') Submit
