extends layout.pug
block content
  if questions
    each question in questions 
      fieldset
        a(href=`/answers/${question.id}`) 
            p= question.content
    div
        a(href='/') Return to Home
  else 
    fieldset 
      p No results found!
    div
        a(href='/') Return to Home