extends layout.pug

block content

  fieldset(class='containAll login register')
    include utils.pug
    form(method='post' action='/users/register')
      div
        label User Name
      div
        input(type='text' name='username' value=user.username)
      div
        label Email
      div
        input(type='text' name='email' value=user.email)
      div
        label Password
      div
        input(type='password' name='password' )
      div
        label Confirm Password
      div
        input(type='password' name='confirmPassword')
      div(class='register-button')
        button(class='register-button' type='submit') Register
        input(type='hidden' name='_csrf' value=csrfToken)
      div
        p: a(class= 'registerText' href='/users/login') Already have an account?
