extends layout.pug 

block content 

    fieldset 
    include utils.pug
        table 
            thead 
                th User Name 
                th User Email 
            tbody 
                tr 
                    td= user.username 
                    td= user.email
    div 
        a(href='/users/editPassword') Edit Password
    div
        a(href='/') Return to Home