* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18pt;
  /* background-color: #f0e0cc; */
  background-image: url(/images/map.jpg);
  display: flex;
  /* justify-content: right; */
  flex-direction: column;
  align-items: center;
}

.huh{
  display: flex;
  justify-content: center;
  border-radius: 25px;
  position: absolute;
  margin-left: 70%;
  margin-top: 10.5%;
  /* padding: 10%; */
  width: 27%;
  height: auto;
  /* background-image: url(/images/scroll.jpg) */
}

.searchContainer{
  text-shadow: white 0px 0px 10px;
  color: #7b113a;
  width: auto;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  flex-direction: wrap;
  margin-top: 10px;
  margin-left: 10px;
  background-image: url(/images/scroll.jpg);
   /* background-color: #f0ebcc; */
   /* background-color: #f0ebcc; */
}

.searchContainer2{
  width: auto;
  display: flex;
  justify-content: left;
  flex-direction: wrap;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
   /* background-color: #f0ebcc; */
}

.searchTagsContainer{
  display: flex;
  flex-direction: column;
}

a{
  color: black
}

.headerOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin: 10px;
  /* background-image: url(/images/pyramid.jpg); */
  background-image: url(/images/scroll.jpg);

}

a{
  text-decoration: none;

}

.containAll{
  color: #7b113a;
  display: flex;
  flex-direction: column;
  width: 38%;
  /* background-color: #3d84b8; */
  margin: 5px;
  border-radius: 25px;
  background-image: url(/images/scroll.jpg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* background-image: url(/images/pyramid.jpg); */
}

.opening{
  text-shadow: white 0px 0px 10px;
  margin: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  /* align-items: center; */ 
}

.greeting {
  margin: 10px;
  font-size: 20pt;
  font-weight: bold;
  /* color: #7b113a */
}

.titleContainer{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-shadow: white 0px 0px 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 40pt;
  margin: 10px;
  margin-bottom: 20px;
  /* font-size: 24pt; */
  color: #7b113a
}

.userNameContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-shadow: white 0px 0px 10px;

}

.tags {
  color: #7b113a;
  text-shadow: white 0px 0px 10px;

}
.tagsContainer{
  margin: 5px;
  display: flex;
  justify-content: center;
}

.questionsContainer {
  /* height: auto; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.home-questions {
  margin: 5px;
  font-size: 16pt;
  font-weight: bold;
  color: #7b113a;
  text-shadow: white 0px 0px 10px;

}

.userName {
  margin: 5px;
  display: flex;
}

.buttonsContainer{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.viewProfile{
  display: flex;
  justify-content: center;
  margin: 10px;
  /* width: fit-content; */
}

.openingLogOut{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

input {
  margin-right: 5px;
  margin-top: 9px;
}

.tagLabel{
  margin-bottom: 10px;
}

button {

  /* color: #7b113a */
  border-radius: 5px;
	background: #652735;
	/* border:1px solid #84bbf3; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding: 3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
  margin: 3px;
}
button:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
button:active {
	position:relative;
	top:1px;
}

.tag{
  margin-right: 2px;
}

/* Login Page */

fieldset {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 32%;
  border-radius: 25px;
  border:thick double #32a1ce;
 
}

.email{
  display: flex;
  justify-content: center;
  color: #344fa1;
  font-size: 15pt;
  margin: 6px;
}

.input, .password{
  display: flex;
  justify-content: center;
  margin: 4px;
}

input{
  border-radius: 5px;
  padding: 3px;
}

.registerText{
  display: flex;
  justify-content: center;
  color: #344fa1;
  margin-bottom: 3px;
}
