* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/constitution-signing.jpg);
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: fantasy;
}

.headerOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin: 10px;
  background-color: burlywood;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.searchBar{
  display: flex;
  justify-content: center;
  border-radius: 25px;
  position: absolute;
  margin-left: 80%;
  margin-top: 13%;
  width: 40%;
  height: auto;
}

.--clicked{
  background-color:rgba(136, 131, 131, 0.5);
}

.searchContainer{
  /* color: black; */
  width: 50%;
  display: flex;
  justify-content: left;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 10px;
  /* background-image: url(/images/scroll2.png); */
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  margin-right: 20%;
}

.searchContainer2{
  width: auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}


.searchTagsContainer{  font-family: 'Chaparral Pro';

  display: flex;
  flex-direction: column;
  background-color: burlywood;
}


.tagSearch {
  width: 60%;
  background-color: burlywood;
  border-radius: 25px;
  margin-left: 8%;
  padding-left: 8px;
}

a {
  text-decoration: none;
  color: black;
}

.containAll{
  color: black;
  display: flex;
  flex-direction: column;
  width: 38%;
  margin: 5px;
  border-radius: 25px;
  background-image: url(/images/scroll2.png);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: burlywood;
}

.containAll.login {
  width: fit-content;
  padding: 5px 5px;
  margin-top: 150px;
}

.containAll.searchResult {
  padding: 5px 5px;
}

.opening{
  margin: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.greeting {
  margin: 10px;
  font-size: 20pt;
}

.titleContainer {
  margin-left: 2%;
}

.title {
  font-weight: 550;
  font-family: fantasy;
  font-size: 40pt;
  font-weight: 550;
  margin: 10px;
  margin-bottom: 20px;
  color: black;
}

.userNameContainer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;

}

.usernameText{
  font-style: italic;
  margin-right: 20px;
}

.tagsContainer{
  margin: 5px;
  width: auto;
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}

.tags {
  color: rgba(0, 0, 0, 0.767);
  background-color:rgb(233, 224, 206);
	border-radius:6px;
  width: auto;
  padding: 3px 5px 3px 5px;
  font-family: 'Chaparral Pro';
}

.tags:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}

.questionsContainer {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  justify-content:flex-start;
  align-content: center;
}
.home-questions {
  margin: 5px;
  margin-bottom: 20px;
  font-size: 16pt;
  font-family: 'Chaparral Pro';
  color: black;
}

.userName {
  margin: 5px;
  display: flex;
  font-family: 'Chaparral Pro';
}

.buttonsContainer{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.viewProfile{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.openingLogOut{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}


.tagLabel{
  margin-top: 5.5px;
  padding-left: 5px;
}

button {
  background-color:rgb(233, 224, 206);
  /* box-shadow:inset 0px 1px 0px 0px #ffffff; */
	border-radius:6px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:13px;
	/* font-weight:bold; */
  margin: 2px;
	padding:3px 5px 3px 5px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #ffffff; */
}

button:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}

button:active {
	position:relative;
	top:1px;
}

.tag{
  margin-right: 2px;
}

/* Login Page */

fieldset {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 32%;
  border-radius: 25px;
  border: 3px solid black;
}

.email{
  display: flex;
  justify-content: center;
  color: black;
  font-size: 15pt;
  margin: 6px;
}

.input, .password{
  display: flex;
  justify-content: center;
  margin: 4px;
}

input{
  border-radius: 5px;
  padding: 3px;
}

.registerText{
  display: flex;
  justify-self: flex-start;
  color: black;
  margin-bottom: 3px;
}

.login{
  background-color: white;
}

#background-images{
  display: flex;
  justify-content: center;
  border-radius: 25px;
  position: absolute;
  margin-left: 50px;
  margin-right: 80%;
  margin-top: 14%;
  width: 13%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

#background-images > div {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.profileButtons {
  display: flex;
  justify-content: center;
}

div.email, div.password {
  display: flex;
  justify-content: flex-start;
}

.containProfile{
  margin-top: 5%;
  padding: 10px 10px 10px;
  border-radius: 25px;
  background-image: url(/images/scroll2.png);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: burlywood;
}

.searchDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 12px 10px 12px;
  background-color: burlywood;
  border-radius: 25px;
}

.searchDiv button {
  margin-top: 5px;
  width: fit-content;
}

.searchDiv input {
  border:none;
  margin-bottom: 2%;
}

.footer{
  /* position: fixed; */
  background-color: burlywood;
  display: flex;
  flex-direction: row;
  width: 90em;
  margin: 0px;
  padding:0px;
  bottom:0;
  align-items: center;
  justify-content: center;
  
}

.user-object--avi {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  
}

.about-links{
  margin: 5px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;;
}

a.fab{
  padding:5px;
  align-items: center;
  justify-content: center;
}

/* Answers Page */

#answers {
 padding: 10px 15px 10px 15px;
 border: none;
}

.answersContainer {
  /* max-width: 800px; */
  /* background-color: blue; */
}

.answerContentContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 2%;
}

.answerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2%;
  border: 2px solid none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  padding: 10px 3px 0 5px;
  width: 80%;
  height: 100px;
}

#answerField{
  max-width: 800px;
  max-height: 300px;
  min-width: 100%;
  min-height: 150px;
}

.answerUsername {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}