* {
  margin: 0;
  padding: 0;
}

body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18pt; */
  background-color: #f0e0cc;
  background: url(/images/scroll.jpg);
  background-repeat: repeat;
  background-size: 100em 75%;
  display: flex;
  /* justify-content: right; */
  flex-direction: column;
  align-items: center;
}

.headerOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin: 10px;
  /* background-image: url(/images/pyramid.jpg); */
  background-image: url(/images/scroll.jpg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.searchBar{
  display: flex;
  justify-content: center;
  border-radius: 25px;
  position: absolute;
  margin-left: 80%;
  margin-top: 13%;
  /* padding: 10%; */
  width: 40%;
  height: auto;
  /* background-image: url(/images/scroll.jpg) */
}

.--clicked{
  background-color:rgba(136, 131, 131, 0.5);
}

.searchContainer{
  color: black;
  width: 50%;
  display: flex;
  justify-content: left;
  border-radius: 25px;
  /* flex-direction: wrap; */
  margin-top: 10px;
  margin-left: 10px;
  background-image: url(/images/scroll2.png);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.searchContainer2{
  width: auto;
  display: flex;
  justify-content: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.searchTagsContainer{
  /* width: auto; */
  display: flex;
  flex-direction: column;
}


.tagSearch {
  /* position: absolute; */
  width: 100%;
}

a {
  text-decoration: none;
  color: black
}

.containAll{
  color: black;
  display: flex;
  flex-direction: column;
  width: 38%;
  /* background-color: #3d84b8; */
  margin: 5px;
  border-radius: 25px;
  background-image: url(/images/scroll2.png);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* background-image: url(/images/pyramid.jpg); */
}

.opening{
  /* text-shadow: white 0px 0px 5px; */
  margin: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.greeting {
  margin: 10px;
  font-size: 20pt;
  font-weight: bold;
  /* color: #7b113a */
}

/* .titleContainer{
  margin: 10px;
  display: flex;
  font-family: 'Chaparral Pro';
  justify-content: center;
  align-items: center;
} */

.title {
  /* text-shadow: white 0px 0px 5px; */
  font-weight: 550;
  font-family: 'Quicksand', sans-serif;
  font-size: 40pt;
  margin: 10px;
  margin-bottom: 20px;
  /* font-size: 24pt; */
  color: black;
}

.userNameContainer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  /* text-shadow: white 0px 0px 5px; */

}

.usernameText{
  font-style: italic;
}

.tags {
  color: black;
  background-color: #d7dcdc;;
  border: 2px ridge #e6ebeb;
  /* text-shadow: white 0px 0px 5px; */
  width: auto;
  border-radius: 5px;
}

.tagsContainer{
  /* border-radius: 5px; */
  margin: 5px;
  width: auto;
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  /* border: 4mm ridge rgba(50, 132, 220, 0.6) */
}

.questionsContainer {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  justify-content:flex-start;
  /* flex-wrap: wrap; */
  align-content: center;
}
.home-questions {
  margin: 5px;
  margin-bottom: 20px;
  font-size: 16pt;
  /* font-weight: bold; */
  font-family: 'Chaparral Pro';
  color: black;
  /* text-shadow: white 0px 0px 5px; */

}

.userName {
  margin: 5px;
  display: flex;
  font-family: 'Chaparral Pro';
}

.buttonsContainer{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.viewProfile{
  display: flex;
  justify-content: center;
  margin: 10px;
  /* width: fit-content; */
}

.openingLogOut{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

input {
  margin-right: 5px;
  margin-top: 9px;
}

.tagLabel{
  margin-bottom: 10px;
}

button {

  box-shadow:inset 0px 1px 0px 0px #ffffff;
	/* background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%); */
	background-color:#e6ebeb;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:rgb(47, 53, 53);
	/* font-family:Arial; */
	font-size:12px;
	font-weight:bold;
  margin: 2px;
	padding:3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

}
button:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
button:active {
	position:relative;
	top:1px;
}

.tag{
  margin-right: 2px;
}

/* Login Page */

fieldset {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 32%;
  border-radius: 25px;
  border:thick double #32a1ce;

}

.email{
  display: flex;
  justify-content: center;
  color: black;
  font-size: 15pt;
  margin: 6px;
}

.input, .password{
  display: flex;
  justify-content: center;
  margin: 4px;
}

input{
  border-radius: 5px;
  padding: 3px;
}

.registerText{
  display: flex;
  justify-content: center;
  color: black;
  margin-bottom: 3px;
}

.login{
  background-color: white;
}

#background-images{
  display: flex;
  justify-content: center;
  border-radius: 25px;
  position: absolute;
  margin-left: 50px;
  margin-right: 80%;
  margin-top: 14%;
  width: 20%;
  height: auto;
}

#background-images > div {
  display: flex;
  justify-content: center;
}

.theme{
  margin-left: 53px;
}
